@charset "UTF-8";
/*
*loading fonts femaly
*/
@font-face {
  font-family: 'Century';
  src: url("../fonts/CenturySchoolbook/Century-Schoolbook-Bold.eot");
  src: local("☺"), url("../fonts/CenturySchoolbook/Century-Schoolbook-Bold.woff") format("woff"), url("../fonts/CenturySchoolbook/Century-Schoolbook-Bold.ttf") format("truetype"), url("../fonts/CenturySchoolbook/Century-Schoolbook-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Bold.eot");
  src: local("☺"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato/Lato-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato/Lato-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/Manrope/Manrope-Bold.eot");
  src: local("☺"), url("../fonts/Manrope/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope/Manrope-Bold.ttf") format("truetype"), url("../fonts/Manrope/Manrope-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/Manrope/Manrope-Medium.eot");
  src: local("☺"), url("../fonts/Manrope/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope/Manrope-Medium.ttf") format("truetype"), url("../fonts/Manrope/Manrope-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/Manrope/Manrope-Regular.eot");
  src: local("☺"), url("../fonts/Manrope/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope/Manrope-Regular.ttf") format("truetype"), url("../fonts/Manrope/Manrope-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro';
  src: url("../fonts/MetaPro/MetaPro-Bold.eot");
  src: local("☺"), url("../fonts/MetaPro/MetaPro-Bold.woff") format("woff"), url("../fonts/MetaPro/MetaPro-Bold.ttf") format("truetype"), url("../fonts/MetaPro/MetaPro-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

/*
*color project
*/
/*
*initialization project
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 2000px;
}

li, a, p, span {
  text-decoration: none;
  list-style: none;
  color: #252525;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: 'MetaPro';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  color: #252525;
}

.h2, .titleH2 {
  font-family: 'Century';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  color: #0071B6;
}

.h2 span, .titleH2 span {
  color: #252525;
}

/*
*project create 
*/
/*header*/
.header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 2000;
}

.header .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_content .header_logo img {
  width: 50px;
}

.header .header_content .header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header .header_content .header_menu ul li {
  margin: 0 25px;
}

.header .header_content .header_menu ul li .menu-link {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #065788;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header .header_content .header_menu ul li:hover .menu-link {
  /*color: $color-txt-hover;*/
}

.header .header_content .header_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .header_content .header_phone .menu-link_popup {
  display: none;
}

.header .header_content .header_phone .menu-link_popup .btn-info-company .btn-inf-phone {
  cursor: pointer;
}

.header .header_content .header_phone a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #0071B6;
}

.header .header_content .header_phone a img {
  margin-right: 7px;
}

/*header*/
/*header scroll*/
.header_scroll {
  padding: 10px 0;
  background: #F0F0F0;
}

.header_scroll .header_content .header_logo img {
  width: 80px;
}

.header_scroll .header_content .header_phone {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_scroll .header_content .header_phone .header_phone_phone {
  margin-right: 10px;
}

.header_scroll .header_content .header_phone .menu-link_popup {
  display: block;
}

.header_scroll .header_content .header_phone .menu-link_popup .btn-info-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_scroll .header_content .header_phone .menu-link_popup .btn-info-company .pop-inf-phone-desk {
  position: relative;
  display: none;
}

.header_scroll .header_content .header_phone .menu-link_popup .btn-info-company .pop-inf-phone-desk .pop-inf-txt {
  position: absolute;
  right: 0;
  top: 10px;
  padding: 20px;
  background: #EEF7FF;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.header_scroll .header_content .header_phone .menu-link_popup .btn-info-company .pop-inf-phone-desk .pop-inf-txt a {
  display: block;
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #181818;
  padding-bottom: 5px;
  border-bottom: 1px solid #41404234;
}

.header_scroll .header_content .header_phone .menu-link_popup .btn-info-company .pop-inf-phone-desk .pop-inf-txt .pop-inf-txt-soc {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_scroll .header_content .header_phone .menu-link_popup .btn-info-company .pop-inf-phone-desk .pop-inf-txt .pop-inf-txt-soc a {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.header_scroll .header_content .header_phone .menu-link_popup .btn-info-company .pop-inf-phone-desk .pop-inf-txt .pop-inf-txt-soc a img {
  pointer-events: none;
}

.header_scroll .header_content .header_phone .menu-link_popup .btn-info-company .pop-inf-phone-actives {
  display: block;
}

.header_scroll .header_content .header_phone span {
  display: none;
}

/*header scroll*/
/*# sourceMappingURL=style.css.map */