@charset "UTF-8";
/*
*loading fonts femaly
*/
@font-face {
  font-family: 'Century';
  src: url("../fonts/CenturySchoolbook/Century-Schoolbook-Bold.eot");
  src: local("☺"), url("../fonts/CenturySchoolbook/Century-Schoolbook-Bold.woff") format("woff"), url("../fonts/CenturySchoolbook/Century-Schoolbook-Bold.ttf") format("truetype"), url("../fonts/CenturySchoolbook/Century-Schoolbook-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Bold.eot");
  src: local("☺"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato/Lato-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato/Lato-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/Manrope/Manrope-Bold.eot");
  src: local("☺"), url("../fonts/Manrope/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope/Manrope-Bold.ttf") format("truetype"), url("../fonts/Manrope/Manrope-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/Manrope/Manrope-Medium.eot");
  src: local("☺"), url("../fonts/Manrope/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope/Manrope-Medium.ttf") format("truetype"), url("../fonts/Manrope/Manrope-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/Manrope/Manrope-Regular.eot");
  src: local("☺"), url("../fonts/Manrope/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope/Manrope-Regular.ttf") format("truetype"), url("../fonts/Manrope/Manrope-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro';
  src: url("../fonts/MetaPro/MetaPro-Bold.eot");
  src: local("☺"), url("../fonts/MetaPro/MetaPro-Bold.woff") format("woff"), url("../fonts/MetaPro/MetaPro-Bold.ttf") format("truetype"), url("../fonts/MetaPro/MetaPro-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

/*
*color project
*/
/*
*initialization project
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 2000px;
}

li, a, p, span {
  text-decoration: none;
  list-style: none;
  color: #252525;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: 'MetaPro';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  color: #252525;
}

.h2, .titleH2 {
  font-family: 'Century';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  color: #0071B6;
}

.h2 span, .titleH2 span {
  color: #252525;
}

.btn-all {
  position: relative;
  width: 320px;
  height: 80px;
}

.btn-all a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(267.65deg, #0199F5 17.69%, #00B6F8 49.37%, #0199F5 94.82%);
  border-radius: 12px;
  font-family: 'Lato';
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  z-index: 10;
}

.btn-all::before {
  content: '';
  position: absolute;
  bottom: -7px;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: #0185F0;
  -webkit-box-shadow: 0px 0px 20px #01A5F7;
          box-shadow: 0px 0px 20px #01A5F7;
}

/*
*project create 
*/
/*header*/
.header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 2000;
}

.header .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_content .header_logo img {
  width: 50px;
}

.header .header_content .header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header .header_content .header_menu ul li {
  margin: 0 25px;
}

.header .header_content .header_menu ul li .menu-link {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #065788;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.header .header_content .header_menu ul li .menu-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #065788;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.header .header_content .header_menu ul li:hover .menu-link {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #065788;
}

.header .header_content .header_menu ul li:hover .menu-link::after {
  width: 100%;
}

.header .header_content .header_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .header_content .header_phone .menu-link_popup {
  display: none;
}

.header .header_content .header_phone .menu-link_popup .info-company .btn-phone-popup {
  cursor: pointer;
}

.header .header_content .header_phone a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #0071B6;
}

.header .header_content .header_phone a img {
  margin-right: 7px;
}

/*header*/
/*header scroll*/
.header_scroll {
  padding: 10px 0;
  background: #ECECEC;
}

.header_scroll .header_content .header_logo img {
  width: 50px;
}

.header_scroll .header_content .header_phone {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_scroll .header_content .header_phone .header_phone_phone {
  display: none;
}

.header_scroll .header_content .header_phone .menu-link_popup {
  display: block;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  background: #0199F5;
  border-radius: 50%;
  margin-left: 7px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header img {
  margin: 0;
  width: 23px;
  height: 23px;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header:hover {
  -webkit-box-shadow: 0 0 12px #035b92;
          box-shadow: 0 0 12px #035b92;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup {
  display: none;
  position: absolute;
  width: 200px;
  padding: 20px;
  height: 250px;
  bottom: -260px;
  right: 0;
  -webkit-box-shadow: 0 0 10px #888686a2;
          box-shadow: 0 0 10px #888686a2;
  background: #ECECEC;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup_itm {
  border-bottom: 1px solid #888686a2;
  margin-bottom: 10px;
  padding: 5px 0;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup_itm p {
  font-size: 16px;
  font-family: 'Manrope';
  font-weight: 400;
  margin: 0;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup_itm a {
  font-size: 16px;
  font-weight: 400;
  color: #065788;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup_itm a i {
  margin-right: 5px;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup_itm:hover {
  border-color: #00B6F8;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup_itm:hover a i {
  color: #00B6F8;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup-social .btn-header__popup-social-itm {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: #0199F5;
  margin: 0 3px;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup-social .btn-header__popup-social-itm a {
  position: relative;
  display: block;
  width: 29px;
  height: 29px;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup-social .btn-header__popup-social-itm a img {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup-social .btn-header__popup-social-itm:hover {
  -webkit-box-shadow: 0 0 10px #888686a2;
          box-shadow: 0 0 10px #888686a2;
}

.header_scroll .header_content .header_phone span {
  display: none;
}

/*header scroll*/
/*section offer*/
.offer {
  position: relative;
}

.offer .offer__slider .slick-list {
  overflow: hidden;
}

.offer .offer__slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer .offer_block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.offer .offer_block .offer_block_cont {
  position: relative;
  top: 10%;
}

.offer .offer_block .offer_block_cont h1 {
  max-width: 700px;
  font-family: 'MetaPro';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 15px;
}

.offer .offer_block .offer_block_cont p {
  color: #242424;
  display: block;
  padding: 6px 8px;
  max-width: 460px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 15px;
}

.offer .offer_block .offer_block_cont .offer_subtitle {
  color: #252525;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
/*# sourceMappingURL=style.css.map */