@charset "UTF-8";
/*
*loading fonts femaly
*/
@font-face {
  font-family: 'CenturySchoolbook';
  src: url("../fonts/CenturySchoolbook/CenturySchoolbook-Bold.eot");
  src: local("☺"), url("../fonts/CenturySchoolbook/CenturySchoolbook-Bold.woff") format("woff"), url("../fonts/CenturySchoolbook/CenturySchoolbook-Bold.ttf") format("truetype"), url("../fonts/CenturySchoolbook/CenturySchoolbook-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Bold.eot");
  src: local("☺"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato/Lato-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato/Lato-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/Manrope/Manrope-Bold.eot");
  src: local("☺"), url("../fonts/Manrope/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope/Manrope-Bold.ttf") format("truetype"), url("../fonts/Manrope/Manrope-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/Manrope/Manrope-Medium.eot");
  src: local("☺"), url("../fonts/Manrope/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope/Manrope-Medium.ttf") format("truetype"), url("../fonts/Manrope/Manrope-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url("../fonts/Manrope/Manrope-Regular.eot");
  src: local("☺"), url("../fonts/Manrope/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope/Manrope-Regular.ttf") format("truetype"), url("../fonts/Manrope/Manrope-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MetaPro';
  src: url("../fonts/MetaPro/MetaPro-Bold.eot");
  src: local("☺"), url("../fonts/MetaPro/MetaPro-Bold.woff") format("woff"), url("../fonts/MetaPro/MetaPro-Bold.ttf") format("truetype"), url("../fonts/MetaPro/MetaPro-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

/*
*color project
*/
/*
*initialization project
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 2000px;
}

li, a, p, span {
  text-decoration: none;
  list-style: none;
  color: #252525;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: 'MetaPro';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  color: #252525;
}

h2 {
  font-family: 'CenturySchoolbook';
  font-weight: 700;
  font-size: 36px;
  color: #0071B6;
}

h2 span {
  font-family: 'CenturySchoolbook';
  font-weight: 700;
  font-size: 36px;
  color: #252525;
}

.btn-all {
  position: relative;
  width: 280px;
  height: 70px;
}

.btn-all a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(267.65deg, #0199F5 17.69%, #00B6F8 49.37%, #0199F5 94.82%);
  border-radius: 12px;
  font-family: 'Lato';
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 10;
}

.btn-all a:hover {
  background: linear-gradient(267.65deg, #008CE0 17.69%, #1FBEF8 49.37%, #0082D0 94.82%);
}

.btn-all button {
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(267.65deg, #0199F5 17.69%, #00B6F8 49.37%, #0199F5 94.82%);
  border-radius: 12px;
  font-family: 'Lato';
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 10;
}

.btn-all::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -5px;
  display: block;
  width: calc(100% - 2px);
  height: 100%;
  border-radius: 12px;
  background: #0370ca;
  -webkit-box-shadow: 0px 0px 20px #01A5F7;
          box-shadow: 0px 0px 20px #01A5F7;
}

.btn-all::after {
  content: '';
  position: absolute;
  right: -15px;
  bottom: -10px;
  width: 30px;
  height: 30px;
  background: url(/image/icon/btn-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: scales 5s ease infinite;
          animation: scales 5s ease infinite;
  z-index: 10;
}

@-webkit-keyframes scales {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  3% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  9% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  80% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  83% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scales {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  3% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  9% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  80% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  83% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*
*project create 
*/
/*------header mobile------*/
.wrap-container-header-mobile {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 2000;
  background: #fff;
  padding: 5px 0;
}

.wrap-container-header-mobile .header-menu_list {
  position: absolute;
  width: 210px;
  height: 320px;
  left: -300px;
  bottom: -320px;
  background: #fff;
  border-top: 1px solid #0070b662;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 2000;
}

.wrap-container-header-mobile .header-menu_list .header-top-menu_bottom-item.active a {
  font-weight: 700;
}

.wrap-container-header-mobile .header-menu_list ul {
  padding: 20px 35px;
}

.wrap-container-header-mobile .header-menu_list ul li {
  border-bottom: 1px solid #0070b662;
  padding: 7px 0;
  margin-bottom: 7px;
}

.wrap-container-header-mobile .header-menu_list ul li a {
  font-family: 'Inter';
  color: #353535;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-decoration: none;
}

.wrap-container-header-mobile .header-menu_list ul li:last-child {
  border-bottom: 0;
}

.wrap-container-header-mobile .header-mob-top-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 53px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap-container-header-mobile .header-mob-top-menu .burger-menu {
  position: relative;
  width: 25px;
  height: 20px;
}

.wrap-container-header-mobile .header-mob-top-menu .burger-menu span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background: #000;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.wrap-container-header-mobile .header-mob-top-menu .burger-menu::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background: #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.wrap-container-header-mobile .header-mob-top-menu .burger-menu::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background: #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-phone {
  position: relative;
  display: none;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-phone .pop-inf-txt {
  position: absolute;
  right: 20px;
  top: -10px;
  padding: 20px;
  min-width: 220px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 15px #35353546;
          box-shadow: 0 0 15px #35353546;
  border-radius: 7px;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-phone .pop-inf-txt a {
  display: block;
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /*color: $color-text;*/
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #fce093;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-phone .pop-inf-txt .pop-inf-txt-soc {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-phone .pop-inf-txt .pop-inf-txt-soc a {
  border: none;
  margin: 0 10px;
  padding-bottom: 0;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-phone .pop-inf-txt .pop-inf-txt-soc a img {
  pointer-events: none;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-phone.actives {
  display: block;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-map {
  position: relative;
  display: none;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-map .pop-inf-txt {
  position: absolute;
  right: 60px;
  top: -10px;
  padding: 20px;
  min-width: 220px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 15px #35353546;
          box-shadow: 0 0 15px #35353546;
  border-radius: 7px;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-map .pop-inf-txt p {
  display: block;
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /*color: $color-text;*/
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #fce093;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-map .pop-inf-txt .pop-inf-txt-soc {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-map .pop-inf-txt .pop-inf-txt-soc a {
  border: none;
  margin: 0 10px;
  padding-bottom: 0;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-map .pop-inf-txt .pop-inf-txt-soc a img {
  pointer-events: none;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .pop-inf-map.actives {
  display: block;
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .btn-inf-phone:hover {
  /*stroke: $color-yellow;*/
}

.wrap-container-header-mobile .header-mob-top-menu .menu-link_popup .btn-info-company .btn-inf-map:hover {
  /*stroke: $color-yellow;*/
}

.burger-menu.active::before {
  top: 50% !important;
  -webkit-transform: rotate(45deg) translateY(calc(-50% + 1px));
          transform: rotate(45deg) translateY(calc(-50% + 1px));
}

.burger-menu.active::after {
  top: 50% !important;
  -webkit-transform: rotate(-45deg) translateY(calc(-50% + 1px));
          transform: rotate(-45deg) translateY(calc(-50% + 1px));
}

.burger-menu.active span {
  opacity: 0 !important;
}

.header-menu_list.active {
  left: 0px;
}

/*------header mobile------*/
/*header*/
.header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 2000;
}

.header .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_content .header_logo img {
  width: 50px;
}

.header .header_content .header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header .header_content .header_menu ul li {
  margin: 0 25px;
}

.header .header_content .header_menu ul li .menu-link {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #065788;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.header .header_content .header_menu ul li .menu-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #065788;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.header .header_content .header_menu ul li:hover .menu-link {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #065788;
}

.header .header_content .header_menu ul li:hover .menu-link::after {
  width: 100%;
}

.header .header_content .header_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .header_content .header_phone .menu-link_popup {
  display: none;
}

.header .header_content .header_phone .menu-link_popup .info-company .btn-phone-popup {
  cursor: pointer;
}

.header .header_content .header_phone a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #0071B6;
}

.header .header_content .header_phone a img {
  margin-right: 7px;
}

/*header*/
/*header scroll*/
.header_scroll {
  padding: 10px 0;
  background: #ECECEC;
}

.header_scroll .header_content .header_logo img {
  width: 40px;
}

.header_scroll .header_content .header_phone {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_scroll .header_content .header_phone .header_phone_phone {
  display: none;
}

.header_scroll .header_content .header_phone .menu-link_popup {
  display: block;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  background: #0199F5;
  border-radius: 50%;
  margin-left: 7px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header img {
  margin: 0;
  width: 23px;
  height: 23px;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header:hover {
  -webkit-box-shadow: 0 0 12px #035b92;
          box-shadow: 0 0 12px #035b92;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup {
  display: none;
  position: absolute;
  width: 200px;
  padding: 20px;
  height: 220px;
  bottom: -230px;
  right: 0;
  -webkit-box-shadow: 0 0 10px #888686a2;
          box-shadow: 0 0 10px #888686a2;
  background: #ECECEC;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup_itm {
  border-bottom: 1px solid #888686a2;
  margin-bottom: 10px;
  padding: 5px 0;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup_itm p {
  font-size: 16px;
  font-family: 'Manrope';
  font-weight: 400;
  margin: 0;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup_itm a {
  font-size: 16px;
  font-weight: 400;
  color: #065788;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup_itm a i {
  margin-right: 5px;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup_itm:hover {
  border-color: #00B6F8;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup_itm:hover a i {
  color: #00B6F8;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup-social .btn-header__popup-social-itm {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: #0199F5;
  margin: 0 3px;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup-social .btn-header__popup-social-itm a {
  position: relative;
  display: block;
  width: 29px;
  height: 29px;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup-social .btn-header__popup-social-itm a img {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.header_scroll .header_content .header_phone .menu-link_popup .info-company .btn-header .btn-header__popup .btn-header__popup-social .btn-header__popup-social-itm:hover {
  -webkit-box-shadow: 0 0 10px #888686a2;
          box-shadow: 0 0 10px #888686a2;
}

.header_scroll .header_content .header_phone span {
  display: none;
}

/*header scroll*/
/*section offer*/
.offer {
  position: relative;
}

.offer .offer__slider .slick-list {
  overflow: hidden;
}

.offer .offer__slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer .offer_block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.offer .offer_block .offer_block_cont {
  position: relative;
  top: 10%;
}

.offer .offer_block .offer_block_cont .offer_slider-btn-group {
  position: absolute;
  width: 100px;
  right: 0;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer .offer_block .offer_block_cont .offer_slider-btn-group .offer_slider-btn {
  width: 32px;
  height: 32px;
  background: linear-gradient(267.65deg, #0199F5 17.69%, #00B6F8 49.37%, #0199F5 94.82%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.offer .offer_block .offer_block_cont .offer_slider-btn-group .offer_slider-btn:hover {
  background: linear-gradient(267.65deg, #008CE0 17.69%, #1FBEF8 49.37%, #0082D0 94.82%);
}

.offer .offer_block .offer_block_cont .offer_slider-btn-group .offer_slider-btn.offer_sl-next::before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  background: url(/image/icon/chevron-left.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.offer .offer_block .offer_block_cont .offer_slider-btn-group .offer_slider-btn.offer_sl-back::before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  background: url(/image/icon/chevron-right.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.offer .offer_block .offer_block_cont h1 {
  max-width: 700px;
  font-family: 'MetaPro';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 15px;
}

.offer .offer_block .offer_block_cont p {
  color: #242424;
  display: block;
  padding: 6px 8px;
  max-width: 460px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 15px;
}

.offer .offer_block .offer_block_cont .offer_subtitle {
  color: #252525;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

/*section offer*/
/*steps*/
.steps {
  position: relative;
}

.steps .steps__cards {
  position: absolute;
  top: -200px;
  width: 100%;
}

.steps .steps__cards .steps__cards_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.97);
  border: 1px solid rgba(236, 236, 236, 0.1);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.steps .steps__cards .steps__cards_block .steps__cards_item {
  text-align: center;
  padding: 20px;
  width: 250px;
}

.steps .steps__cards .steps__cards_block .steps__cards_item img {
  width: 80px;
  margin-bottom: 15px;
}

.steps .steps__cards .steps__cards_block .steps__cards_item .steps__cards_text h4 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #252525;
}

.steps .steps__cards .steps__cards_block .steps__cards_item .steps__cards_text p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #252525;
}

/*steps*/
/*section about*/
.about {
  position: relative;
  overflow: hidden;
  padding: 150px 0 0 0;
}

.about .about-paralax {
  position: absolute;
  top: 300px;
  right: 200px;
}

.about .about-paralax img {
  width: 300px;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.about .about-paralax2 {
  position: absolute;
  top: 500px;
  right: -100px;
}

.about .about-paralax2 img {
  width: 300px;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.about .titles .titles__cont {
  text-align: center;
  margin-bottom: 40px;
}

.about .Leave-request .Leave-request-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  margin-bottom: 50px;
}

.about .Leave-request .Leave-request-grid .Leave-request-itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .Leave-request .Leave-request-grid .Leave-request-itm img {
  margin-right: 15px;
}

.about .Leave-request .Leave-request-grid .Leave-request-itm .Leave-request-text {
  max-width: 300px;
}

.about .Leave-request .Leave-request-grid .Leave-request-itm .Leave-request-text p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #252525;
  margin: 0;
}

.about .Leave-request .Leave-request-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .Leave-request .Leave-request-contents .Leave-request-contents-txt p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #252525;
}

.about .Leave-request .Leave-request-contents .Leave-request-contents-txt p span {
  color: #0071B6;
  font-weight: 700;
}

/*section about*/
/*section Trusted*/
.Trusted {
  position: relative;
}

.Trusted .trusted_dicorate {
  position: absolute;
  left: 60px;
  bottom: -250px;
}

.Trusted .Trusted__content {
  position: relative;
  top: 100px;
  padding: 30px;
  background: #FBFBFA;
  -webkit-box-shadow: 0 0 10px rgba(113, 113, 113, 0.25);
          box-shadow: 0 0 10px rgba(113, 113, 113, 0.25);
  border-radius: 12px;
}

.Trusted .Trusted__content .Trusted__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.Trusted .Trusted__content .Trusted__content-title h2 {
  max-width: 720px;
  margin-bottom: 20px;
}

.Trusted .Trusted__content .Trusted__content-title p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #252525;
  max-width: 900px;
}

.Trusted .Trusted__content .Trusted__content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Trusted .Trusted__content .Trusted__content-card .Trusted__content-card-itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 250px;
}

/*section Trusted*/
/*section oportunity*/
.oportunity {
  padding: 200px 0 50px 0;
  background: #DBEAFB;
}

.oportunity .titles {
  margin-bottom: 30px;
}

.oportunity .titles .titles__cont {
  text-align: center;
}

.oportunity .titles .titles__cont h2 {
  margin-bottom: 20px;
}

.oportunity .titles .titles__cont p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #252525;
}

.oportunity .oportunity-garant .oportunity-garant-cont {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 50px 30px;
}

.oportunity .oportunity-garant .oportunity-garant-cont h4 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #252525;
  margin-bottom: 20px;
}

.oportunity .oportunity-garant .oportunity-garant-cont .oportunity-garant-list .oportunity-garant-list-itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.oportunity .oportunity-garant .oportunity-garant-cont .oportunity-garant-list .oportunity-garant-list-itm img {
  margin-right: 10px;
}

.oportunity .oportunity-garant .oportunity-garant-cont .oportunity-garant-list .oportunity-garant-list-itm p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #252525;
  margin: 0;
}

.oportunity .oportunity-garant .oportunity-garant-form {
  background: #FFFFFF;
  border-radius: 12px;
  padding: 50px 30px;
}

.oportunity .oportunity-garant .oportunity-garant-form h4 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  color: #252525;
  margin-bottom: 12px;
}

.oportunity .oportunity-garant .oportunity-garant-form p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #252525;
}

.oportunity .oportunity-garant .oportunity-garant-form .input-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px solid #72717146;
  margin-bottom: 27px;
}

.oportunity .oportunity-garant .oportunity-garant-form .input-groups img {
  margin-right: 15px;
}

.oportunity .oportunity-garant .oportunity-garant-form .input-groups input {
  outline: none;
  border: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #252525;
}

.oportunity .experience {
  padding: 80px 0 40px 0;
}

.oportunity .experience .titles .titles__cont {
  text-align: center;
}

.oportunity .experience .titles .titles__cont p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #252525;
}

.oportunity .experience .experience-cont .experience-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.oportunity .experience .experience-cont .experience-block .experience-col {
  width: 50%;
}

.oportunity .experience .experience-cont .experience-block .experience-col-one {
  background: #FFFFFF;
  border-radius: 12px 0 0 12px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.oportunity .experience .experience-cont .experience-block .experience-col-one .experience-col-txt p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #252525;
  max-width: 300px;
}

.oportunity .experience .experience-cont .experience-block .experience-col-one .experience-col-txt p span {
  color: #0071B6;
  font-weight: 700;
}

.oportunity .experience .experience-cont .experience-block .experience-col-one .experience-col-one-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.oportunity .experience .experience-cont .experience-block .experience-col-two {
  overflow: hidden;
  border-radius: 0 12px 12px 0;
}

/*section oportunity*/
/*section adwentage*/
.adwentage {
  padding: 80px 0 40px 0;
}

.adwentage .titles {
  margin-bottom: 50px;
}

.adwentage .titles .titles__cont h2 {
  margin-bottom: 20px;
}

.adwentage .titles .titles__cont p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #252525;
}

.adwentage .adwentage-block-slider {
  margin-bottom: 50px;
}

.adwentage .adwentage-block-slider .adwentage-slider .slick-list {
  overflow: hidden;
  border-radius: 0 12px 12px 0;
}

.adwentage .adwentage-block-slider .adwentage-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adwentage .adwentage-block-slider .adwentage-slider-btn-group {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adwentage .adwentage-block-slider .adwentage-slider-btn-group .adwentage-slider-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background: linear-gradient(267.65deg, #0199F5 17.69%, #00B6F8 49.37%, #0199F5 94.82%);
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.adwentage .adwentage-block-slider .adwentage-slider-btn-group .adwentage-slider-btn:hover {
  background: linear-gradient(267.65deg, #008CE0 17.69%, #1FBEF8 49.37%, #0082D0 94.82%);
}

.adwentage .adwentage-block-slider .adwentage-block-list .adwentage-block-list-itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.adwentage .adwentage-block-slider .adwentage-block-list .adwentage-block-list-itm .adwentage-block-list-image {
  margin-right: 10px;
}

.adwentage .adwentage-block-slider .adwentage-block-list .adwentage-block-list-itm p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #252525;
  max-width: 500px;
  margin: 0;
}

.adwentage .adwentage-benefits .titles .titles__cont h2 {
  font-size: 30px;
  max-width: 700px;
}

.adwentage .adwentage-benefits .adwentage-benefits-cont .adwentage-benefits-list .adwentage-benefits-list-itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.adwentage .adwentage-benefits .adwentage-benefits-cont .adwentage-benefits-list .adwentage-benefits-list-itm .adwentage-benefits-list-img {
  margin-right: 20px;
}

.adwentage .adwentage-benefits .adwentage-benefits-cont .adwentage-benefits-list .adwentage-benefits-list-itm .adwentage-benefits-list-text h5 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}

.adwentage .adwentage-benefits .adwentage-benefits-cont .adwentage-benefits-list .adwentage-benefits-list-itm .adwentage-benefits-list-text p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #252525;
}

.adwentage .adwentage-benefits .adwentage-benefits-cont .benefits-sort-service ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.adwentage .adwentage-benefits .adwentage-benefits-cont .benefits-sort-service ul li .sort-icon {
  width: 15px;
  height: 15px;
  background: linear-gradient(266.4deg, #82CD80 0%, #95EF92 100%);
  border-radius: 50%;
  margin-right: 7px;
}

.adwentage .adwentage-benefits .adwentage-benefits-cont .benefits-sort-service ul li p {
  margin: 0;
}

/*section adwentage*/
/*section discount*/
.discount .titles .titles__cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #f5f5f09f;
  border-radius: 12px;
  padding: 30px 0 50px 0;
}

.discount .titles .titles__cont .dicorate1 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.discount .titles .titles__cont .dicorate2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.discount .titles .titles__cont h2 {
  max-width: 800px;
  margin-bottom: 20px;
}

.discount .titles .titles__cont p {
  max-width: 600px;
  margin-bottom: 30px;
}

/*section discount*/
/*section purchase*/
.purchase {
  padding: 80px 0;
}

.purchase .titles {
  margin-bottom: 50px;
}

.purchase .titles .titles__cont {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purchase .titles .titles__cont h2 {
  max-width: 850px;
  margin-bottom: 20px;
}

.purchase .titles .titles__cont p {
  max-width: 900px;
}

.purchase .purchase-cont .purchase_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.purchase .purchase-cont .purchase_list .purchase_list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.purchase .purchase-cont .purchase_list .purchase_list-item .purchase_list-item-img {
  margin-right: 20px;
}

.purchase .purchase-cont .purchase_list .purchase_list-item p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #252525;
  margin: 0;
  max-width: 350px;
}

/*section purchase*/
/*section feedback*/
.feedback .feedback-form .feedback-form-txt {
  max-width: 500px;
}

.feedback .feedback-form .feedback-form-txt h4 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #242424;
}

.feedback .feedback-form .feedback-form-txt p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #242424;
}

.feedback .feedback-form input {
  width: 320px;
  display: block;
  outline: none;
  background: #FFFFFF;
  border: 1px solid #9E9E9E;
  border-radius: 8px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #9E9E9E;
  padding: 20px 15px;
  margin-bottom: 20px;
}

/*section feedback*/
/*section sertificate*/
.sertificate {
  padding: 70px 0 0 0;
}

.sertificate .titles {
  margin-bottom: 20px;
}

.sertificate .titles .titles__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.sertificate .titles .titles__cont h2 {
  max-width: 800px;
}

.sertificate .certificate-slider {
  margin-bottom: 50px;
}

.sertificate .certificate-slider .slick-list {
  overflow: hidden;
}

.sertificate .certificate-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sertificate .certificate-slider .slick-list .slick-track .slick-center img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.sertificate .certificate-slider .sertificate-sl-itm {
  text-align: center;
  padding: 50px 0;
}

.sertificate .certificate-slider .sertificate-sl-itm img {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 300px;
  border-radius: 6px;
  -webkit-box-shadow: 5px 5px 12px #6060607e;
          box-shadow: 5px 5px 12px #6060607e;
}

.sertificate .certificate-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  outline: none;
  border: none;
  font-size: 0;
  background: linear-gradient(267.65deg, #0199F5 17.69%, #00B6F8 49.37%, #0199F5 94.82%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  z-index: 500;
  cursor: pointer;
}

.sertificate .certificate-slider .slick-arrow:hover {
  background: linear-gradient(267.65deg, #008CE0 17.69%, #1FBEF8 49.37%, #0082D0 94.82%);
}

.sertificate .certificate-slider .slick-prev {
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sertificate .certificate-slider .slick-prev::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(/image/icon/chevron-left.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sertificate .certificate-slider .slick-next {
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sertificate .certificate-slider .slick-next::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(/image/icon/chevron-right.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sertificate .sertificate-ctx .sertificate-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FBFBFA;
  border-radius: 12px;
}

.sertificate .sertificate-ctx .sertificate-cont .sertificate-cont-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 30px 0 50px 0;
}

.sertificate .sertificate-ctx .sertificate-cont .sertificate-cont-col .sertificate-cont-txt p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #252525;
  max-width: 450px;
  margin-bottom: 20px;
}

.sertificate .sertificate-ctx .sertificate-cont .sertificate-cont-col:nth-child(1) {
  border-right: 1px solid #a9a9a979;
}

.sertificate .partners {
  background: #DBEAFB;
  padding: 60px 0;
}

.sertificate .partners .partners-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sertificate .partners .partners-cont .partners_title h3 {
  font-family: 'CenturySchoolbook';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 102.5%;
  color: #0071B6;
  max-width: 300px;
}

.sertificate .partners .partners-cont .partners_slider-block {
  position: relative;
}

.sertificate .partners .partners-cont .partners_slider-block .partners_slider-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(267.65deg, #0199F5 17.69%, #00B6F8 49.37%, #0199F5 94.82%);
}

.sertificate .partners .partners-cont .partners_slider-block .partners_slider-btn:hover {
  background: linear-gradient(267.65deg, #008CE0 17.69%, #1FBEF8 49.37%, #0082D0 94.82%);
}

.sertificate .partners .partners-cont .partners_slider-block .partners_slider-btn.partners-sl-next {
  right: 0;
}

.sertificate .partners .partners-cont .partners_slider-block .partners_slider-btn.partners-sl-next::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url(/image/icon/chevron-right.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sertificate .partners .partners-cont .partners_slider-block .partners_slider-btn.partners-sl-back {
  left: 0;
}

.sertificate .partners .partners-cont .partners_slider-block .partners_slider-btn.partners-sl-back::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url(/image/icon/chevron-left.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sertificate .partners .partners-cont .partners_slider-block .partners_slider {
  width: 850px;
  padding: 0 50px;
}

.sertificate .partners .partners-cont .partners_slider-block .partners_slider .slick-list {
  overflow: hidden;
}

.sertificate .partners .partners-cont .partners_slider-block .partners_slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sertificate .partners .partners-cont .partners_slider-block .partners_slider .slick-list .slick-track .slick-slide .partners_slider-itm {
  text-align: center;
}

/*section sertificate*/
/*section contact*/
.contact {
  padding: 70px 0 0 0;
}

.contact .titles .titles__cont {
  text-align: center;
}

/*section contact*/
/*footer*/
.footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.footer .footer_content .footer_logo img {
  width: 90px;
}

.footer .footer_content .footer_menu ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  margin-bottom: 0;
}

.footer .footer_content .footer_menu ul li {
  margin-bottom: 14px;
}

.footer .footer_content .footer_menu ul li a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer .footer_content .footer_menu ul li a:hover {
  color: #0071B6;
}

.footer .footer_content .footer-social h5 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

.footer .footer_content .footer-social .footer-social-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer_content .footer-social .footer-social-cont .btn-header__popup-social-itm {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: #0199F5;
  margin: 0 3px;
}

.footer .footer_content .footer-social .footer-social-cont .btn-header__popup-social-itm a {
  position: relative;
  display: block;
  width: 29px;
  height: 29px;
}

.footer .footer_content .footer-social .footer-social-cont .btn-header__popup-social-itm a img {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.footer .footer_content .footer-social .footer-social-cont .btn-header__popup-social-itm:hover {
  -webkit-box-shadow: 0 0 10px #888686a2;
          box-shadow: 0 0 10px #888686a2;
}

.footer .footer_content .footer_submit .footer_submit-whatsapp {
  margin-bottom: 20px;
}

.footer .footer_content .footer_submit .footer_submit-whatsapp a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: #0071B6;
}

.footer .footer_content .footer_submit .footer_submit-whatsapp a img {
  margin-right: 7px;
}

.footer .footer_copyraite-bl {
  border-top: 1px solid rgba(225, 221, 221, 0.9);
}

.footer .footer_copyraite-bl .footer_copyraite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}

.footer .footer_copyraite-bl .footer_copyraite span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.footer .footer_copyraite-bl .footer_copyraite .web-studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer_copyraite-bl .footer_copyraite .web-studio span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.footer .footer_copyraite-bl .footer_copyraite .web-studio a img {
  display: block;
  margin-left: 7px;
}

/*footer*/
/*------container to Top btn---------*/
.to-top {
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 50px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  border: 4px solid #00B6F8;
  background: linear-gradient(267.65deg, #0199F5 17.69%, #00B6F8 49.37%, #0199F5 94.82%);
  border-radius: 50%;
  z-index: 1500;
  cursor: pointer;
  opacity: 0;
}

.to-top a {
  display: block;
}

.to-top-active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-animation: toTopAnim 1s forwards;
          animation: toTopAnim 1s forwards;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.to-top-active a img {
  pointer-events: none;
}

.to-top-active:hover {
  -webkit-box-shadow: 0 0 12px #0199F5;
          box-shadow: 0 0 12px #0199F5;
}

@-webkit-keyframes toTopAnim {
  100% {
    opacity: 1;
  }
}

@keyframes toTopAnim {
  100% {
    opacity: 1;
  }
}

/*------container to Top btn---------*/
/*----------container window popup manager---------*/
.popup-manager {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3000;
}

.popup-manager .window-popup {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 45px;
  width: 400px;
  height: 470px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.popup-manager .window-popup input {
  width: 100%;
  font-family: 'Lato';
  padding: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: #FFFFFF;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  outline: 0;
  margin-bottom: 15px;
}

.popup-manager .window-popup p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-align: center;
}

.popup-manager .window-popup .btn-all {
  display: block;
  max-width: 100%;
  width: 100%;
  outline: none;
  border: none;
}

.popup-manager .window-popup .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.popup-manager .window-popup .btn-close:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.popup-manager .window-popup .btn-close:hover .close-svg {
  stroke: #C22020;
}

/*----------container window popup manager---------*/
/*----------container window popup accepted---------*/
.popup-accepted {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1500;
}

.popup-accepted .window-popup {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 380px;
  height: 450px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FFFFFF;
  border-radius: 6px;
  background: #fff;
}

.popup-accepted .window-popup p {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 40px;
  text-align: center;
  color: #414042;
  margin-bottom: 20px;
}

.popup-accepted .window-popup .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.popup-accepted .window-popup .btn-close:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.popup-accepted .window-popup .btn-close:hover .close-svg {
  stroke: #C22020;
}

.popup-accepted .window-popup .dicorate-accept {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

/*----------container window popup accepted---------*/
@media screen and (max-width: 1440px) {
  /*steps*/
  .steps .steps__cards {
    top: -150px;
  }
  /*steps*/
  /*section about*/
  .about {
    padding: 190px 0 0 0;
  }
  /*section about*/
  /*section Trusted*/
  .Trusted .trusted_dicorate {
    bottom: -230px;
  }
  .Trusted .trusted_dicorate img {
    width: 250px;
  }
  .Trusted .Trusted__content {
    top: 70px;
  }
  /*section Trusted*/
}

@media screen and (max-width: 1366px) {
  /*steps*/
  .steps .steps__cards {
    top: -100px;
  }
  /*steps*/
  /*section about*/
  .about {
    padding: 220px 0 0 0;
  }
  /*section about*/
  /*section Trusted*/
  .Trusted .trusted_dicorate {
    left: 30px;
    bottom: -200px;
  }
  .Trusted .trusted_dicorate img {
    width: 200px;
  }
  .Trusted .Trusted__content {
    top: 70px;
  }
  /*section Trusted*/
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 36px !important;
  }
  h2 {
    font-size: 28px;
  }
  h2 span {
    font-size: 28px;
  }
  .btn-all {
    width: 250px;
    height: 60px;
  }
  .btn-all a {
    font-size: 16px;
  }
  .btn-all button {
    font-size: 16px;
  }
  /*header*/
  .header {
    display: none;
  }
  .wrap-container-header-mobile {
    display: block;
  }
  /*header*/
  /*section offer*/
  .offer .offer_block .offer_block_cont {
    top: 20%;
  }
  .offer .offer_block .offer_block_cont .offer_slider-btn-group {
    right: 0;
    bottom: 0;
  }
  .offer .offer_block .offer_block_cont .offer-t {
    display: none;
  }
  .offer .offer_block .offer_block_cont .offer_subtitle {
    font-size: 18px;
    font-weight: 700;
  }
  /*section offer*/
  /*steps*/
  .steps {
    position: relative;
  }
  .steps .steps__cards {
    position: relative;
    top: auto;
    width: 100%;
  }
  .steps .steps__cards .steps__cards_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.97);
    border: 1px solid rgba(236, 236, 236, 0.1);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  .steps .steps__cards .steps__cards_block .steps__cards_item {
    text-align: center;
    padding: 20px;
    width: 250px;
  }
  .steps .steps__cards .steps__cards_block .steps__cards_item img {
    width: 80px;
    margin-bottom: 15px;
  }
  .steps .steps__cards .steps__cards_block .steps__cards_item .steps__cards_text h4 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #252525;
  }
  .steps .steps__cards .steps__cards_block .steps__cards_item .steps__cards_text p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #252525;
  }
  /*steps*/
  /*section about*/
  .about {
    position: relative;
    overflow: hidden;
    padding: 50px 0 0 0;
  }
  .about .about-paralax {
    position: absolute;
    top: 300px;
    right: 200px;
  }
  .about .about-paralax img {
    width: 300px;
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .about .about-paralax2 {
    position: absolute;
    top: 500px;
    right: -100px;
  }
  .about .about-paralax2 img {
    width: 300px;
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .about .titles .titles__cont {
    text-align: center;
    margin-bottom: 40px;
  }
  .about .Leave-request .Leave-request-grid .Leave-request-itm .Leave-request-text p {
    font-size: 18px;
    /**/
    max-width: 250px;
  }
  .about .Leave-request .Leave-request-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about .Leave-request .Leave-request-contents .Leave-request-contents-txt p {
    font-size: 18px;
    max-width: 450px;
  }
  .about .Leave-request .Leave-request-contents .Leave-request-contents-txt p span {
    color: #0071B6;
    font-weight: 700;
  }
  /*section about*/
  /*section oportunity*/
  .oportunity {
    padding: 120px 0 50px 0;
  }
  .oportunity .titles {
    margin-bottom: 30px;
  }
  .oportunity .titles .titles__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .oportunity .titles .titles__cont h2 {
    margin-bottom: 20px;
    max-width: 500px;
  }
  .oportunity .titles .titles__cont p {
    max-width: 600px;
    font-size: 18px;
  }
  .oportunity .oportunity-garant .oportunity-garant-cont .oportunity-garant-list .oportunity-garant-list-itm img {
    width: 37px;
  }
  .oportunity .oportunity-garant .oportunity-garant-form {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 50px 30px;
  }
  .oportunity .oportunity-garant .oportunity-garant-form h4 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #252525;
    margin-bottom: 12px;
  }
  .oportunity .oportunity-garant .oportunity-garant-form p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #252525;
  }
  .oportunity .oportunity-garant .oportunity-garant-form .input-groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    border-bottom: 1px solid #72717146;
    margin-bottom: 27px;
  }
  .oportunity .oportunity-garant .oportunity-garant-form .input-groups img {
    margin-right: 15px;
  }
  .oportunity .oportunity-garant .oportunity-garant-form .input-groups input {
    outline: none;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #252525;
  }
  .oportunity .experience .experience-cont .experience-block .experience-col-one .experience-col-txt p {
    font-size: 16px;
  }
  .oportunity .experience .experience-cont .experience-block .experience-col-one .experience-col-one-img img {
    width: 140px;
  }
  /*section oportunity*/
  /*section sertificate*/
  .sertificate .partners .partners-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sertificate .partners .partners-cont .partners_title {
    text-align: center;
    margin-bottom: 20px;
  }
  /*section sertificate*/
}
/*# sourceMappingURL=style.css.map */