/*
*loading fonts femaly
*/
@font-face {
	font-family: 'Century';
	src: url('../fonts/CenturySchoolbook/Century-Schoolbook-Bold.eot');
	src: local('☺'), url('../fonts/CenturySchoolbook/Century-Schoolbook-Bold.woff') format('woff'), url('../fonts/CenturySchoolbook/Century-Schoolbook-Bold.ttf') format('truetype'), url('../fonts/CenturySchoolbook/Century-Schoolbook-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Bold.eot');
	src: local('☺'), url('../fonts/Lato/Lato-Bold.woff') format('woff'), url('../fonts/Lato/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato/Lato-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Regular.eot');
	src: local('☺'), url('../fonts/Lato/Lato-Regular.woff') format('woff'), url('../fonts/Lato/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato/Lato-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope/Manrope-Bold.eot');
	src: local('☺'), url('../fonts/Manrope/Manrope-Bold.woff') format('woff'), url('../fonts/Manrope/Manrope-Bold.ttf') format('truetype'), url('../fonts/Manrope/Manrope-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope/Manrope-Medium.eot');
	src: local('☺'), url('../fonts/Manrope/Manrope-Medium.woff') format('woff'), url('../fonts/Manrope/Manrope-Medium.ttf') format('truetype'), url('../fonts/Manrope/Manrope-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope/Manrope-Regular.eot');
	src: local('☺'), url('../fonts/Manrope/Manrope-Regular.woff') format('woff'), url('../fonts/Manrope/Manrope-Regular.ttf') format('truetype'), url('../fonts/Manrope/Manrope-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'MetaPro';
	src: url('../fonts/MetaPro/MetaPro-Bold.eot');
	src: local('☺'), url('../fonts/MetaPro/MetaPro-Bold.woff') format('woff'), url('../fonts/MetaPro/MetaPro-Bold.ttf') format('truetype'), url('../fonts/MetaPro/MetaPro-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
/*
*color project
*/
$btn-color-idle: linear-gradient(267.65deg, #0199F5 17.69%, #00B6F8 49.37%, #0199F5 94.82%);
$btn-color-hover: linear-gradient(267.65deg, #008CE0 17.69%, #1FBEF8 49.37%, #0082D0 94.82%);
$dicorate-el-color: linear-gradient(266.4deg, #82CD80 0%, #95EF92 100%);
$section-color-blue: #DBEAFB;
$txt-color-cyan: #065788;
$txt-color-blue: #0071B6;
$txt-color-25: #252525;
$txt-color-24: #242424;
/*
*initialization project
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	height: 2000px;
}
li,a,p,span{
    text-decoration: none;
    list-style: none;
    color: $txt-color-25;
}
a:hover{
    text-decoration: none;
}
h1{
    font-family: 'MetaPro';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: $txt-color-25;
}
.h2,.titleH2{
    font-family: 'Century';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: $txt-color-blue;
    span{
        color: $txt-color-25;
    }
}

/*
*project create 
*/
/*header*/
.header{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    transition: all 0.2s ease-in-out;
    z-index: 2000;
    .header_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_logo{
            img{
                width: 50px;
            }
        }
        .header_menu{
            ul{
                display: flex;
                align-items: center;
                margin: 0;
                li{
                    margin: 0 25px;
                    .menu-link{
						font-family: 'Manrope';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
						color: $txt-color-cyan;
                        transition: color 0.2s ease-in-out;
                    }
                    &:hover{
                        .menu-link{
                            /*color: $color-txt-hover;*/
                        }
                    }
                }
            }
        }
        .header_phone{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .menu-link_popup{
                display: none;
                .btn-info-company{
                    .btn-inf-phone{
                        cursor: pointer;
                    }
                }
            }
            a{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                color: $txt-color-blue;
				img{
					margin-right: 7px;
				}
            }
        }
    }
}
/*header*/
/*header scroll*/
.header_scroll{
    padding: 10px 0;
    background: #F0F0F0;
    .header_content{
        .header_logo{
            img{
                width: 80px;
            }
        }
        .header_phone{
            flex-direction: row;
            align-items: center;
            .header_phone_phone{
                margin-right: 10px;
            }
            .menu-link_popup{
                display: block;
                .btn-info-company{
                    display: flex;
                    align-items: center;
                    .pop-inf-phone-desk{
                        position: relative;
                        display: none;
                        .pop-inf-txt{
                            position: absolute;
                            right: 0;
                            top: 10px;
                            padding: 20px;
                            background: #EEF7FF;
                            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                            a{
                                display: block;
                                margin-bottom: 7px;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                color: #181818;
                                padding-bottom: 5px;
                                border-bottom: 1px solid #41404234;
                            }
                            .pop-inf-txt-soc{
                                padding: 5px 0;
                                display: flex;
                                justify-content: space-between;
                                a{
                                    border: none;
                                    margin-bottom: 0;
                                    padding-bottom: 0;
                                    img{
                                        pointer-events: none;
                                    }
                                }
                            }
                        }
                    }
                    .pop-inf-phone-actives{
                        display: block;
                    }
                }
            }
            span{
                display: none;
            }
        }
    }
}
/*header scroll*/