/*
*loading fonts femaly
*/
@font-face {
	font-family: 'CenturySchoolbook';
	src: url('../fonts/CenturySchoolbook/Century-Schoolbook-Bold.eot');
	src: local('☺'), url('../fonts/CenturySchoolbook/Century-Schoolbook-Bold.woff') format('woff'), url('../fonts/CenturySchoolbook/Century-Schoolbook-Bold.ttf') format('truetype'), url('../fonts/CenturySchoolbook/Century-Schoolbook-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Bold.eot');
	src: local('☺'), url('../fonts/Lato/Lato-Bold.woff') format('woff'), url('../fonts/Lato/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato/Lato-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Regular.eot');
	src: local('☺'), url('../fonts/Lato/Lato-Regular.woff') format('woff'), url('../fonts/Lato/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato/Lato-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope/Manrope-Bold.eot');
	src: local('☺'), url('../fonts/Manrope/Manrope-Bold.woff') format('woff'), url('../fonts/Manrope/Manrope-Bold.ttf') format('truetype'), url('../fonts/Manrope/Manrope-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope/Manrope-Medium.eot');
	src: local('☺'), url('../fonts/Manrope/Manrope-Medium.woff') format('woff'), url('../fonts/Manrope/Manrope-Medium.ttf') format('truetype'), url('../fonts/Manrope/Manrope-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope/Manrope-Regular.eot');
	src: local('☺'), url('../fonts/Manrope/Manrope-Regular.woff') format('woff'), url('../fonts/Manrope/Manrope-Regular.ttf') format('truetype'), url('../fonts/Manrope/Manrope-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'MetaPro';
	src: url('../fonts/MetaPro/MetaPro-Bold.eot');
	src: local('☺'), url('../fonts/MetaPro/MetaPro-Bold.woff') format('woff'), url('../fonts/MetaPro/MetaPro-Bold.ttf') format('truetype'), url('../fonts/MetaPro/MetaPro-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
/*
*color project
*/
$btn-color-idle: linear-gradient(267.65deg, #0199F5 17.69%, #00B6F8 49.37%, #0199F5 94.82%);
$btn-color-hover: linear-gradient(267.65deg, #008CE0 17.69%, #1FBEF8 49.37%, #0082D0 94.82%);
$dicorate-el-color: linear-gradient(266.4deg, #82CD80 0%, #95EF92 100%);
$section-color-blue: #DBEAFB;
$txt-color-cyan: #065788;
$txt-color-blue: #0071B6;
$txt-color-25: #252525;
$txt-color-24: #242424;
/*
*initialization project
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	height: 2000px;
}
li,a,p,span{
    text-decoration: none;
    list-style: none;
    color: $txt-color-25;
}
a:hover{
    text-decoration: none;
}
h1{
    font-family: 'MetaPro';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: $txt-color-25;
}
h2{
   
    font-size: 44px;
    color: $txt-color-blue;
    
}
.btn-all{
    position: relative;
    width: 320px;
    height: 80px;
    a{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: $btn-color-idle;
        border-radius: 12px;
        font-family: 'Lato';
        text-transform: uppercase;
        color: #fff;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        transition: 0.3s ease-in-out;
        z-index: 10;
        &:hover{
            background: $btn-color-hover;
        }
    }
    &::before{
        content: '';
        position: absolute;
        bottom: -7px;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: #0370ca;
        box-shadow: 0px 0px 20px #01A5F7;
    }
    &::after{
        content: '';
        position: absolute;
        right: -20px;
        bottom: -20px;
        width: 40px;
        height: 40px;
        background: url(/image/icon/btn-icon.png);
        background-size: cover;
        background-repeat: no-repeat;
        animation: scales 5s ease infinite;
        z-index: 10;
        @keyframes scales {
            0%{
                transform: scale(1);
            }
            3%{
                transform: scale(3);
            }
            9%{
                transform: scale(2);
            }
            80%{
                transform: scale(2);
            }
            83%{
                transform: scale(0.5);
            }
            89%{
                transform: scale(1);
            }
            
        }
    }
}

/*
*project create 
*/
/*header*/
.header{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    transition: all 0.2s ease-in-out;
    z-index: 2000;
    .header_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_logo{
            img{
                width: 50px;
            }
        }
        .header_menu{
            ul{
                display: flex;
                align-items: center;
                margin: 0;
                li{
                    margin: 0 25px;
                    .menu-link{
						font-family: 'Manrope';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
						color: $txt-color-cyan;
                        transition: color 0.2s ease-in;
						&::after{
							content: '';
							display: block;
							width: 0;
							height: 1px;
							background: $txt-color-cyan;
							transition: width 0.3s ease-in-out;
						}
                    }
                    &:hover{
                        .menu-link{
                            font-family: 'Manrope';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
						    color: $txt-color-cyan;
							&::after{
								width: 100%;
							}
                        }
                    }
                }
            }
        }
        .header_phone{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .menu-link_popup{
                display: none;
                .info-company{
                    .btn-phone-popup{
                        cursor: pointer;
                    }
                }
            }
            a{
                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                color: $txt-color-blue;
				img{
					margin-right: 7px;
				}
            }
        }
    }
}
/*header*/
/*header scroll*/
.header_scroll{
    padding: 10px 0;
    background: #ECECEC;
    .header_content{
        .header_logo{
            img{
                width: 50px;
            }
        }
        .header_phone{
            flex-direction: row;
            align-items: center;
            .header_phone_phone{
                display: none;
            }
            .menu-link_popup{
                display: block;
                .info-company{
                    display: flex;
                    align-items: center;
                    .btn-header{
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 35px;
                        height: 35px;
                        background: #0199F5;
                        border-radius: 50%;
                        margin-left: 7px;
                        transition: 0.2s ease;
                        cursor: pointer;
                        img{
                            margin: 0;
                            width: 23px;
                            height: 23px;
                        }
                        &:hover{
                            box-shadow: 0 0 12px #035b92;
                        }
                        .btn-header__popup{
                            display: none;
                            position: absolute;
                            width: 200px; 
                            padding: 20px;
                            height: 220px;
                            bottom: -230px;
                            right: 0;
                            box-shadow: 0 0 10px #888686a2;
                            background: #ECECEC;
                            .btn-header__popup_itm{
                                border-bottom: 1px solid #888686a2;
                                margin-bottom: 10px;
                                padding: 5px 0;
                                p{
                                    font-size: 16px;
                                    font-family: 'Manrope';
                                    font-weight: 400;
                                    margin: 0;
                                }
                                a{
                                    font-size: 16px;
                                    font-weight: 400;
                                    color: $txt-color-cyan;
                                    i{
                                        margin-right: 5px;
                                    }
                                }
                                &:hover{
                                    border-color: #00B6F8;
                                    a{
                                        i{
                                            color: #00B6F8;
                                        }
                                    }
                                }
                            }
                            .btn-header__popup-social{
                                display: flex;
                                justify-content: center;
                                padding-top: 15px;
                                .btn-header__popup-social-itm{
                                    width: 29px;
                                    height: 29px;
                                    border-radius: 50%;
                                    background: #0199F5;
                                    margin: 0 3px;
                                    a{
                                        position: relative;
                                        display: block;
                                        width: 29px;
                                        height: 29px;
                                        img{
                                            position: absolute;
                                            display: block;
                                            width: 20px;
                                            height: 20px;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%,-50%);
                                            color: #fff;
                                        }
                                    }
                                    &:hover{
                                        box-shadow: 0 0 10px #888686a2;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            span{
                display: none;
            }
        }
    }
}
/*header scroll*/
/*section offer*/
.offer{
    position: relative;
    .offer__slider{
        .slick-list{
            overflow: hidden;
            .slick-track{
                display: flex;
            }
        }
    }
    .offer_block{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        .offer_block_cont{
            position: relative;
            top: 10%;
            
            h1{
                max-width: 700px;
                font-family: 'MetaPro';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 130%;
                margin-bottom: 15px;
                
            }
            p{
                
                color: $txt-color-24;
                display: block;
                padding: 6px 8px;
                max-width: 460px;
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 130%;
                margin-bottom: 15px;
            }
            .offer_subtitle{
                color: $txt-color-25;
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
            }
        }
    }
}
/*section offer*/
/*section about*/
.about{
    .about__cards{
        position: relative;
        top: -100px;
        width: 100%;
        .about__cards_block{
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            background: rgba(255, 255, 255, 0.97);
            border: 1px solid rgba(236, 236, 236, 0.1);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 20px;
            .about__cards_item{
                text-align: center;
                padding: 20px;
                width: 250px;
                img{
                    width: 80px;
                    margin-bottom: 15px;
                }
                .about__cards_text{
                    h4{
                        font-family: 'Manrope';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 130%;
                        color:$txt-color-25
                    }
                    p{
                        font-family: 'Manrope';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 130%;
                        color: $txt-color-25;
                    }
                }
            }
        }
    }
    .titles{
        .titles__cont{
            text-align: center;
           margin-bottom: 40px;
        }
    }
    .Leave-request{
        .Leave-request-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 30px;
            margin-bottom: 50px;
            .Leave-request-itm{
                display: flex;
                align-items: center;
                img{
                    margin-right: 15px;
                }
                .Leave-request-text{
                    max-width: 300px;
                    p{
                        font-family: 'Manrope';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 140%;
                        color: $txt-color-25;
                        margin: 0;
                    }
                }
            }
        }
        .Leave-request-contents{
            display: flex;
            .Leave-request-contents-txt{
                p{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 150%;
                    color: $txt-color-25;
                    span{
                        color: $txt-color-blue;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .Trusted{
        position: relative;
        .Trusted__content{
            position: relative;
            top: 100px;
            padding: 30px;
            background: #FBFBFA;
            box-shadow: 0 0 10px rgba(113, 113, 113, 0.25);
            border-radius: 12px;
            .Trusted__content-title{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-bottom: 50px;
                h2{
                    max-width: 720px;
                    margin-bottom: 20px;
                }
                p{
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    color: $txt-color-25;
                    max-width: 900px;
                }
            }
            .Trusted__content-card{
                display: flex;
                justify-content: space-between;
                .Trusted__content-card-itm{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    width: 250px;
                }
            }
        }
    }
}
/*section about*/